body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.colorful-header{ 
    color: #FFA500;
    margin-right: 15px;
}

.flexible-container{
    display:flex;

}

.top-banner{
    background-image: url(images/top-banner.png
    );
    background-repeat: no-repeat;

}

.half-width{
    width: 50%;
    margin-left: 135px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width img{
    width: 70%;
    padding-left: 100px;
}



.link-button{
    text-decoration: none;
    background-image:linear-gradient(#FF8F6C,#FF7354 );
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-padding{
    padding-right: 150px;
}

.experience-area{
    margin-bottom: 100px;
}
.experience-color{
    color: #FFB739;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-area h1{
    padding-left: 90px;
}

.experience-item{
    box-shadow: 10px 10px 50px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 30px;  
  
}

#full-stack-developer{
    border-left: 7px solid #FF6347;
   
}

#baby-developer{
    border-left: 7px solid #0000FF;
}

footer p{
    text-align: center;
}